@layer base {
  [class^='blockquote-'] {
    @apply flex flex-col relative py-4 pr-4 pl-[3.125rem]
    border border-solid rounded-[0.625rem];
  }

  [class^='blockquote-'] > p {
    @apply p-0 m-0 text-base font-medium break-keep;
  }

  [class^='blockquote-']::before {
    @apply absolute top-1/2 left-4 w-[1.125rem] h-[1.125rem];
    content: '';
    background-repeat: no-repeat;
    background-size: 1.125rem 1.125rem;
    background-position: left center;
    transform: translateY(-50%);
  }

  [class^='blockquote-'] code {
    @apply inline-flex items-center py-1 px-1 border border-solid rounded;
    background-color: var(--color-background03) !important;
    border-color: var(--color-background06) !important;
    line-height: 100% !important;
  }

  .blockquote-tip {
    border-color: hsl(221, 91%, 93%);
    background-color: hsl(208, 100%, 97%);
  }

  .blockquote-tip > p {
    color: hsl(210, 92%, 45%);
  }

  .blockquote-tip::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(210,92%,45%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M10.268 21a2 2 0 0 0 3.464 0'/><path d='M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326'/></svg>");
  }

  .dark .blockquote-tip {
    border-color: hsl(223, 43%, 17%);
    background-color: hsl(215, 100%, 6%);
  }

  .dark .blockquote-tip > p {
    color: hsl(216, 87%, 65%);
  }

  .dark .blockquote-tip::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(216,87%,65%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M10.268 21a2 2 0 0 0 3.464 0'/><path d='M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326'/></svg>");
  }

  .blockquote-note {
    border-color: hsl(0, 0%, 93%);
    background-color: hsl(0, 0%, 99%);
  }

  .blockquote-note > p {
    color: hsl(0, 0%, 9%);
  }

  .blockquote-note::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(0,0%,9%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M16 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8Z'/><path d='M15 3v4a2 2 0 0 0 2 2h4'/></svg>");
  }

  .dark .blockquote-note {
    border-color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 6%);
  }

  .dark .blockquote-note > p {
    color: hsl(0, 0%, 90%);
  }

  .dark .blockquote-note::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(0,0%,90%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M16 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8Z'/><path d='M15 3v4a2 2 0 0 0 2 2h4'/></svg>");
  }

  .blockquote-important {
    border-color: hsl(145, 92%, 87%);
    background-color: hsl(143, 85%, 96%);
  }

  .blockquote-important > p {
    color: hsl(140, 100%, 27%);
  }

  .blockquote-important::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(140,100%,27%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M7 18v-6a5 5 0 1 1 10 0v6'/><path d='M5 21a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2z'/><path d='M21 12h1'/><path d='M18.5 4.5 18 5'/><path d='M2 12h1'/><path d='M12 2v1'/><path d='m4.929 4.929.707.707'/><path d='M12 12v6'/></svg>");
  }

  .dark .blockquote-important {
    border-color: hsl(147, 100%, 12%);
    background-color: hsl(150, 100%, 6%);
  }

  .dark .blockquote-important > p {
    color: hsl(150, 86%, 65%);
  }

  .dark .blockquote-important::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(150,86%,65%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M7 18v-6a5 5 0 1 1 10 0v6'/><path d='M5 21a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2z'/><path d='M21 12h1'/><path d='M18.5 4.5 18 5'/><path d='M2 12h1'/><path d='M12 2v1'/><path d='m4.929 4.929.707.707'/><path d='M12 12v6'/></svg>");
  }

  .blockquote-warning {
    border-color: hsl(49, 91%, 84%);
    background-color: hsl(49, 100%, 97%);
  }

  .blockquote-warning > p {
    color: hsl(31, 92%, 45%);
  }

  .blockquote-warning::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(31,92%,45%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3'/><path d='M12 9v4'/><path d='M12 17h.01'/></svg>");
  }

  .dark .blockquote-warning {
    border-color: hsl(60, 100%, 9%);
    background-color: hsl(64, 100%, 6%);
  }

  .dark .blockquote-warning > p {
    color: hsl(46, 87%, 65%);
  }

  .dark .blockquote-warning::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(46,87%,65%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3'/><path d='M12 9v4'/><path d='M12 17h.01'/></svg>");
  }

  .blockquote-caution {
    border-color: hsl(359, 100%, 94%);
    background-color: hsl(359, 100%, 97%);
  }

  .blockquote-caution > p {
    color: hsl(360, 100%, 45%);
  }

  .blockquote-caution::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(360,100%,45%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='12' cy='12' r='10'/><line x1='12' x2='12' y1='8' y2='12'/><line x1='12' x2='12.01' y1='16' y2='16'/></svg>");
  }

  .dark .blockquote-caution {
    border-color: hsl(357, 89%, 16%);
    background-color: hsl(358, 76%, 10%);
  }

  .dark .blockquote-caution > p {
    color: hsl(358, 100%, 81%);
  }

  .dark .blockquote-caution::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='hsl(358,100%,81%)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='12' cy='12' r='10'/><line x1='12' x2='12' y1='8' y2='12'/><line x1='12' x2='12.01' y1='16' y2='16'/></svg>");
  }
}
